/*>>>>>>>>>> 인트로 <<<<<<<<<<*/
.intro { display:flex; align-items:flex-end; width: 100%; min-height:100vh; height:100%; padding:0 0 127px 76px; background: #F6F9FF; } 
.csBox { position: absolute; right:0; top:23.6%; padding-left:4%; } 
.csBox > a { display: inline-block; position: absolute; padding: 36px; border-radius: 16px; background: var(--color-white); box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.10); } 
.csBox > a.cs01 { top: -84px; left: 43.8%; border: 1px solid #174AB0; width:424px; } 
.csBox > a.cs02 { bottom: -168px; left: 43.8%; padding: 30px; border: 1px solid #10A8B2; } 
.csBox > a.cs03 { bottom: -168px; right: 14.8%; padding: 30px; border: 1px solid #35BD4C; } 
.csBox dt { display: inline-flex; position: relative; margin-bottom: 10px; padding-right: 32px; padding-left: 48px; line-height: 1.5; font-size: 30px; font-weight: 700; word-break:keep-all; } 
.csBox dt:before { content: ""; position: absolute; top: calc(50% - 16px); left: 0; width: 32px; height: 32px; background-repeat: no-repeat; background-position: center; background-size: 100% auto; } 
.csBox dt:after { content: ""; position: absolute; top: calc(50% - 12px); right: 0; width: 24px; height: 24px; background: url(../images/main/intro-ico-btn-more.png) no-repeat center/100% auto; } 
.csBox > a.cs01 dt { color: #174AB0; } 
.csBox > a.cs02 dt { color: #0A7F87; } 
.csBox > a.cs03 dt { color: #178D2B; } 
.csBox > a.cs01 dt:before { background-image: url(../images/main/intro-ico-cs01.png); } 
.csBox > a.cs02 dt:before { background-image: url(../images/main/intro-ico-cs02.png); } 
.csBox > a.cs03 dt:before { background-image: url(../images/main/intro-ico-cs03.png); } 
.csBox dd { padding-left: 48px; font-size: 17px; color: var(--color-gray-70); } 
.introNotice { position:relative; margin-top:540px; width:580px; } 
.introNotice .noticeTitArea { padding-bottom:6px; border-bottom:1px solid var(--color-base); } 
.introNotice .noticeTitArea .tit { display:block; line-height:1.5; font-size:27px; font-weight:700; } 
.introNotice .introMore { position:absolute; top:11px; right:0; line-height:1.5; font-size:15px; color:var(--color-gray-70); } 
.introNotice [class *= "state"] { display:inline-block; padding:3px 5px; border-radius:4px; white-space:nowrap; line-height:1.3; font-size: 13px; } 
.introNotice .state01 { color:#064EA0; background:#D7E5FA; } 
.introNotice .state02 { color:#007C6F; background:#D2E7E5; } 
.introNotice > ul > li + li { border-top:1px solid #CCC; } 
.introNotice > ul > li > a,
.introNotice > ul > li > a > div { display:flex; } 
.introNotice > ul > li > a { position:relative; padding:18px 118px 18px 0; } 
.introNotice > ul > li > a > div { gap:5px; align-items: center; } 
.introNotice > ul > li > a > div > p { display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:1; overflow:hidden; text-overflow:ellipsis; line-height:1.3; font-size:19px; color:var(--color-black); font-weight:600; } 
.introNotice .date { position:absolute; right:0; top:50%; transform:translateY(-50%); } 
@media (max-width: 1840px){
    .csBox a.cs01 { top:-48px; width: auto; } 
    .csBox a.cs02,
    .csBox a.cs03 { bottom:-140px } 
}
@media (max-width:1840px) and (min-width:1647px){
    .csBox a,
    .csBox a.cs02,
    .csBox a.cs03 { padding:24px; } 
    .csBox dt { font-size:23px; } 
    .csBox dd { font-size:15px; } 
}
@media (max-width: 1646px){
    .intro { flex-direction: column; align-items:stretch; padding:260px 0 67px; background:url("../images/main/intro-bg-tablet.svg") no-repeat #F6F9FF right top 46px; } 
    .csBox { display:flex; gap:16px; order:2; position:initial; margin-top:24px; padding:0 50px; } 
    .csBox img { display: none; } 
    .csBox > a { flex:1; position:initial; } 
    .introNotice { margin-top:30px; padding:0 50px; width:100%; } 
    .introNotice .introMore { right:50px; } 
}
@media (max-width: 1260px){
    .csBox a,
    .csBox a.cs02,
    .csBox a.cs03 { padding:24px; } 
    .csBox dt { padding-left:40px; font-size:23px; } 
    .csBox dd { padding-left:40px; font-size:15px; } 
    .introNotice .noticeTitArea .tit { font-size:23px; } 
    .introNotice > ul > li > a > div > p { font-size:17px; } 
    .introNotice .date { font-size:15px; } 
}
@media (max-width: 1000px){
    .intro { padding:218px 0 67px; background-size:96% } 
}
@media (max-width: 900px){
    .csBox { flex-direction:column; } 
}
@media (max-width: 767px){
    .intro { padding:215px 0 80px; background-image:url("../images/main/intro-bg-mobile.svg"); background-size:auto; background-position:top 46px center; } 
    .introNotice { margin-top:48px; padding:0 18px } 
    .introNotice .introMore { right:18px; } 
    .csBox { padding:0 18px } 
}
@media (max-width: 400px){
    .intro { background-position:top 46px right; } 
}
@media (max-width: 350px){
    .intro { background-size:90%; } 
}

/*>>>>>>>>>> 메인 <<<<<<<<<<*/
/* 메인 공통 */
#container .mainCont { margin:0 auto; padding:0 24px; width:100%; max-width:1668px; }
#container .mainCont h2 {position:relative; line-height:1; font-size:36px}
.circular-badge {position: absolute; left:-82px; top:50%; display:flex; justify-content:center; align-items:center; border-radius:50%; width:49px; height:49px; line-height:1; font-size:15px; font-weight:700; background:rgba(37, 103, 175, 0.30); transform: translateY(-50%);}
.circular-badge.badgeR {left:initial; right:-82px}
.circular-badge:after {position:absolute; left:50%; top:50%; content:""; border:4px solid #2567AF; border-radius:50%; width:33px; height:33px; background:#fff; transform: translate(-50%, -50%); z-index: -1; box-sizing: border-box;}
@media(max-width:1416px) {
    .circular-badge {left:-62px}
    .circular-badge.badgeR {right:-60px;}
}
@media(max-width:1160px) {
    #container .mainCont h2 {font-size:27px;}
    .circular-badge {display:none;}
}
@media(max-width:767px) {
    #container .mainCont {padding:0 16px}
}

/* 메인 1단 */
.section01 .inFlex { display:flex; } 
.searchBox { position:relative; padding:5% 10% 0 60px; flex:1; background:url("../images/main/bg-main01.svg") no-repeat right bottom; } 
.searchBox .radiusRB {position:absolute; right: -5px; bottom: -3px; z-index: 3;}
.searchBox:before { position:absolute; right: -4px; top:0; content:""; width:4px; height: calc(100% - 39px); background:#2567AF } 
.searchBox:after { position: absolute; bottom: -3px; left:43px; content: ""; width: calc(100% - 82px); height: 4px; background: #2567AF; z-index: 3; } 
.searchBox > p { line-height:1; font-size:40px; font-weight:200; } 
.searchBox > p strong { display:block; margin-top:16px; line-height:1; font-size:60px; font-weight:700; } 
.searchBox > span { display:block; margin-top:24px; line-height:1; font-size:19px; } 
.searchBox .searchInput { display:flex; margin-top:50px; } 
.searchBox .searchInput input[type="text"] { flex:1; padding:16px; border:2px solid var(--color-primary); border-radius:8px; width:100%; height:72px; font-size:25px; background:#fff; } 
.searchBox .searchInput input[type="text"]::placeholder { color:var(--color-gray-70) } 
.searchBox .searchInput .searchBtn { border-radius:8px; width:72px; height:72px; text-indent:-9999px; background:url("../images/main/ico-search.svg") no-repeat center var(--color-primary) } 
.searchBox .searchKeywordBox { display:flex; align-items:center; flex-wrap:wrap; gap:10px 24px; margin-top:10px; } 
.searchBox .searchKeywordBox span { display:inline-block; padding:7px 0 6px 35px; line-height:1; font-size:17px; color:var(--color-primary); font-weight:700; background:url("../images/main/ico-star.svg") no-repeat left center } 
.searchBox .searchKeywordBox ul { display:flex; align-items:center; gap:16px; } 
.searchBox .searchKeywordBox ul li { line-height:1; font-size:17px; } 
.infoBoard { display:flex; flex-direction:column; gap:16px; padding:50px 60px 0 56px; width:40%;} 
.infoBoard .bannerBox { /* width:520px; height:412px; */ aspect-ratio: 520/412; } 
.infoBoard .bannerBox a { display:block; } 
.infoBoard .bannerBox a img {width:100%; height:100%; object-fit: cover; } 
.infoBoard .noticeBox { position:relative; padding:30px 136px 37px 40px; border-radius:20px; width:100%; background:url("../images/main/img-notice.png") #31477E no-repeat right center/cover;} 
#container .mainCont .infoBoard .noticeBox h2 {margin-bottom:16px; line-height:1; font-size:25px; color:var(--color-white) } 
.noticeSwiper { overflow:hidden; } 
.noticeSwiper .swiper-slide ul li { position:relative; padding-left:26px; } 
.noticeSwiper .swiper-slide ul li:before { position:absolute; left:11px; top:10px; content:""; width:4px; height:4px; border-radius:50%; background:var(--color-white) } 
.noticeSwiper .swiper-slide ul li a {display:-webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow:hidden; text-overflow:ellipsis; color:var(--color-white); font-weight:500; } 
.noticeSwiper .swiper-button-wrap { position:absolute; top:27px; left:136px; width:60px; height:30px; } 
.noticeSwiper .swiper-button-lock {display:flex;}
.noticeSwiper .swiper-button-next,
.noticeSwiper .swiper-button-prev { top:0; margin-top:0; width:30px; height:30px; text-indent:-9999px;} 
.noticeSwiper .swiper-button-next { right:0; } 
.noticeSwiper .swiper-button-prev { left:0; } 
.noticeSwiper .swiper-button-next:after { width:24px; height:24px; content:""; background:url("../images/main/ico-slide-arrow-white.svg") no-repeat center; } 
.noticeSwiper .swiper-button-prev:after { width:24px; height:24px; content:""; background:url("../images/main/ico-slide-arrow-white.svg") no-repeat center; transform: rotate(-180deg); } 
@media(max-width:1416px) {
    .searchBox {padding:50px 40px 0 40px; background-size:557px;}
    .searchBox > p {font-size:24px;}
    .searchBox > p strong {font-size:50px;}
    .infoBoard {padding:50px 40px 0;}
}
@media(max-width:1160px) {
    .section01 .inFlex {gap:40px; padding:50px 0 0;}
    .searchBox {padding:0;}
    .searchBox:before,
    .searchBox:after {content:none;}
    .searchBox .radiusRB {display:none}
    .searchBox .searchInput input[type="text"] {height:60px; font-size:21px;}
    .searchBox .searchInput .searchBtn {width:60px; height:60px; background-size:32px;}
    .infoBoard {padding:0;}
    .infoBoard .noticeBox {padding:30px 24px; background-image:url("../images/main/img-notice-t.svg")}
}
@media(max-width:980px){
    .section01 .inFlex {gap:20px;}
}
@media(max-width:767px){
    .section01 .inFlex {flex-direction: column; gap:40px;}
    .searchBox {padding:0 0 169px; background-image:url("../images/main/bg-main01-m.svg"); background-size:100%}
    .searchBox > p {line-height:1.2; font-size:21px; word-break: keep-all;}
    .searchBox > p strong {font-size:40px;}
    .searchBox > span {margin-top:16px; line-height:1.3; font-size:15px;}
    .searchBox .searchInput {margin-top:32px;}
    .searchBox .searchInput input[type="text"] {height:50px; font-size:15px;}
    .searchBox .searchInput .searchBtn {width:56px; height:50px; background-size:24px;}
    .searchBox .searchKeywordBox {flex-direction: column; align-items: flex-start; gap:10px;}
    .searchBox .searchKeywordBox ul {gap:4px;}
    .searchBox .searchKeywordBox ul li {font-size:15px}
    .searchBox .searchKeywordBox ul li a {display:block; padding:6px}
    .infoBoard  {width:100%;}
    .infoBoard .bannerBox {width: 100%; height:auto; aspect-ratio: 328.00/259.88;}
    .infoBoard .noticeBox {padding:30px 24px 26px 24px; background-color:#31477E; background-image: url("../images/main/img-notice-m.svg"); background-size:contain; background-position: right;}
    .noticeSwiper .swiper-slide ul li a {font-size:15px;}
    .noticeSwiper .swiper-button-wrap {left:122px;}
}
@media(max-width:400px) {
    .infoBoard .noticeBox {background-size:cover;}
}

/* 메인 2단 */
.section02 {position:relative; padding:68px 60px 143px; background:url("../images/main/bg-main07.svg") no-repeat bottom center}
.section02:before { position:absolute; left: 0; top:42px; content:""; width:4px; height: calc(100% - 84px); background:#2567AF } 
.section02:after { position: absolute; bottom: 0; left: 43px; content: ""; width: calc(100% - 87px); height: 4px; background: #2567AF; z-index: 3; } 
.section02 .radiusLT {position:absolute; top:-1px; left:0;}
.section02 .radiusLB {position:absolute; bottom:0; left:0;}
.supportDashboard {display:flex; gap:60px; padding:40px 50px; border-radius:20px; background:#EDF2F2;}
#container .mainCont .supportDashboard h2 {margin-bottom:16px; font-size:29px;}
.supportDashboard + .bizBoard {margin-top:68px;}
.statusPanel {flex:1;}
.statusPanel > div {display:flex; flex-wrap:wrap; gap:12px;}
.statusPanel dl {display:flex; flex-direction:column; gap:10px; flex:1; padding:20px; min-width:135px; height:130px; background:var(--color-white)}
.statusPanel dl dt {display:flex; align-items:center; gap: 5px; line-height:1; font-size:15px; color:var(--color-gray-70); font-weight:700;}
.statusPanel dl dd {margin-top:auto; text-align:right; line-height:1; font-size:40px; font-weight:700;}
.recommendPanel {position:relative;}
.recommendSwiper {overflow:hidden; width:470px;}
.recommendSwiper .badgeArea {margin-bottom:10px;}
.recommendSwiper .swiper-slide a > strong {display:block; margin-bottom:10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:1.3; font-size:21px; color:var(--color-black); font-weight:700;}
.recommendSwiper .txt {display:block; line-height:1.3; font-size:17px; color:#556E96; font-weight:500;}
.recommendSwiper .date {display:block; margin-top:13px; padding-top:16px; border-top:1px solid #c6c6c6; text-align:right;}
.recommendSwiper .swiper-button-wrap { position:absolute; top:0; left:168px; width:60px; height:30px; } 
.recommendSwiper .swiper-button-lock {display:flex;}
.recommendSwiper .swiper-button-next,
.recommendSwiper .swiper-button-prev {top:0; margin-top:0; width:30px; height:30px; text-indent:-9999px;} 
.recommendSwiper .swiper-button-next { right:0; } 
.recommendSwiper .swiper-button-prev { left:0; } 
.recommendSwiper .swiper-button-next:after { width:28px; height:28px; content:""; background:url("../images/main/ico-slide-arrow-gray.svg") no-repeat center; } 
.recommendSwiper .swiper-button-prev:after { width:28px; height:28px; content:""; background:url("../images/main/ico-slide-arrow-gray.svg") no-repeat center; transform: rotate(-180deg); }
.bizBoard {display:flex; gap:40px;}
.bizBoard > * {flex:1;}
.applyList { display: grid; grid-template-columns: repeat(3, 1fr);  gap: 30px; padding-top:42px;}
.applyList h2 {margin-bottom:10px;}
.applyList .titBox {margin-top:-42px;}
.applyList .titBox p {font-size:15px; color:var(--color-gray-50); font-weight:700; word-break:keep-all;}
.applyList > a {display:block; position:relative; overflow:hidden; padding:20px; border:2px solid #ccc; border-radius:16px; height:215px; background:url("../images/main/ico-arrow01.svg") no-repeat left 20px bottom 20px;}
.applyList > a:before {display:block; position:absolute; right:0; bottom:0; content:""; background:no-repeat right bottom;}
.applyList > a span {display:block; margin-bottom:10px; line-height:1; font-size:15px; color:var(--color-gray-50); font-weight:700;}
.applyList > a strong {display:block; line-height:1.3; font-size:19px; color:var(--color-primary); font-weight:700;}
.applyList > a img {position:absolute; right:0; bottom:0;}
.applyList > a:first-of-type:before {width:77px; height:103px; background-image:url("../images/main/bg-main02.svg")}
.applyList > a:nth-child(3):before {width:100px; height:97px; background-image:url("../images/main/bg-main03.svg")}
.applyList > a:nth-child(4):before {width:114px; height:109px; background-image:url("../images/main/bg-main04.svg")}
.applyList > a:nth-child(5):before {width:88px; height:64px; background-image:url("../images/main/bg-main05.svg")}
.applyList > a:nth-child(6):before {width:84px; height:77px; background-image:url("../images/main/bg-main06.svg")}
#container .mainCont .calArea .fc .fc-toolbar-title {line-height:1.3; font-size:21px; font-weight:400;}
.calArea {position:relative;}
.calArea #calendar {position:absolute; top:0; left:0; right:0; bottom:0;}
.calArea .fc-toolbar-chunk {position:relative; padding:0 30px;}
.calArea .fc-button-group {position:absolute; top:-1px; left:0; margin-left:0 !important; justify-content: space-between; width:100%;}
.calArea .fc .fc-toolbar.fc-header-toolbar {margin-bottom:16px;}
.calArea .fc-icon-chevron-left::before {display:block; content:""; width:20px; height:20px; background:url("../images/main/ico-slide-arrow-gray.svg") no-repeat center /20px; transform: rotate(-180deg);}
.calArea .fc-icon-chevron-right::before {display:block; content:""; width:20px; height:20px; background:url("../images/main/ico-slide-arrow-gray.svg") no-repeat center /20px;}
.calArea .fc .fc-button .fc-icon {width:20px; height:20px;}
.calArea .fc .fc-button-group > .fc-button {flex:none; padding:0; width:30px; height:30px; border:none !important; background:none;}
.calArea .fc-theme-standard .fc-scrollgrid {border:0;}
.calArea .fc .fc-col-header-cell-cushion {line-height:1.2; font-size:13px; color:#093159; font-weight:400;}
.calArea .fc-theme-standard th {border-color:#fff; background:#E9EFF7}
.calArea .fc-theme-standard td {border-color:#ccc;}
.calArea .fc-theme-standard td:last-child {border-right-width: 0;}
.calArea .fc .fc-daygrid-day.fc-day-today {outline:2px solid #005CB9; outline-offset: -2px; background:transparent;}
.calArea .fc .fc-daygrid-day-top {flex-direction: row;}
.calArea .fc .fc-daygrid-day-number {display: flex; justify-content: center; align-items:center; border-bottom:1px solid #aaa; width:30px; height:30px; font-size:15px;}
.calArea .fc .fc-daygrid-day-bottom {display: flex; justify-content: center;}
.calArea .fc .fc-daygrid-more-link {display:flex; justify-content:center; align-items:center; padding:5px 10px; border-radius:50%; line-height:1.3; font-size:15px; color:var(--color-white); font-weight:700; background:#023CA4; aspect-ratio: 1;}
.calArea .fc-theme-standard .fc-popover {border-radius:16px; border:none; background:rgba(255, 255, 255, 0.90); box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.15);} 
.calArea .fc-theme-standard .fc-popover-header {padding:16px 16px 0 24px; background:transparent}
.calArea .fc .fc-more-popover .fc-popover-body {padding:0 16px 16px 24px}
.calArea .fc-icon-x::before {display:block; content:""; width:24px; height:24px; background:url("../images/main/btn-cal-close.svg") no-repeat center;}
.calArea .fc-more-popover-misc {display:none;}
.calArea .fc-h-event {border:0; background:transparent;}
.calArea .fc-daygrid-event-dot {border-color:#023CA4}
.calArea .fc-daygrid-dot-event .fc-event-title {text-overflow: ellipsis;}
.calArea .fc .fc-popover-title {color:var(--color-base); font-weight:500;}
.calArea .fc-popover-body .fc-daygrid-dot-event:hover {background:none;}
.calArea .fc-popover-body .fc-daygrid-event-dot {border-color:var(--color-base); border-width:2px;}
.calArea .fc-popover-body .fc-daygrid-dot-event .fc-event-title {position:relative; line-height:1.5; font-size:15px; color:var(--color-base); font-weight:400;}
.calArea .fc-popover-body .fc-direction-ltr .fc-daygrid-event.fc-event-end {margin-right:0;}
.calArea .fc-popover-body .fc-direction-ltr .fc-daygrid-event.fc-event-start {margin-left:0;}
.calArea .fc .fc-popover-close {width:24px; height:24px;}
@media(min-width:1161px) {
    .section02 {background-size:51%;}
}
@media(max-width: 1416px) {
    .section02 {padding:68px 40px 143px}
    .supportDashboard {gap:40px;}
    .applyList {display:flex; flex-wrap: wrap; gap:8px;}
    .applyList .titBox{margin-bottom:6px; width:100%;}
    .applyList > a {padding:14px 50px 14px 24px; width:100%; height:auto; background: none;}
    .applyList > a:first-of-type:before {width:60px; height:48px; background-image:url("../images/main/bg-main02-m.svg")}
    .applyList > a:nth-child(3):before {width:58px; height:54px; background-image:url("../images/main/bg-main03-m.svg")}
    .applyList > a:nth-child(4):before {width:58px; height:50px; background-image:url("../images/main/bg-main04-m.svg")}
    .applyList > a:nth-child(5):before {width:54px; height:47px; background-image:url("../images/main/bg-main05-m.svg")}
    .applyList > a:nth-child(6):before {width:51px; height:54px; background-image:url("../images/main/bg-main06-m.svg")}
    .bizBoard .pBlock {display:none;}
}
@media(max-width:1160px) {
    .section02 {margin-top:64px; padding:0;}
    .section02:before {content:none;}
    .section02:after {left:0; width:100%;}
    .section02 .radiusLB,
    .section02 .radiusLT {display:none;}
    .supportDashboard > * {width:calc(50% - 20px); flex:none;}
    .recommendSwiper {width:100%;}
    .bizBoard {gap:20px; padding-bottom:140px;}
    .calArea .fc .fc-daygrid-day-number {font-size:13px;}
}
@media(max-width:767px) {
    .section02 {margin-top:40px; background-image:url("../images/main/bg-main07-m.svg")}
    .supportDashboard {flex-direction: column; gap:40px; padding:24px;}
    .supportDashboard > * {width:100%;}
    .supportDashboard + .bizBoard {margin-top:40px;}
    #container .mainCont .supportDashboard h2 {font-size:23px;}
    .statusPanel dl {flex:none; width:calc(100%/2 - 6px)}
    .statusPanel dl dd {font-weight:500;}
    .recommendSwiper {width:100%;}
    .recommendSwiper .swiper-slide a > strong {display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; white-space:initial; font-size:19px;}
    .recommendSwiper .date {font-size:15px;}
    .recommendSwiper .swiper-button-wrap {top:-3px; left:initial; right:0;}
    .bizBoard {flex-direction: column; gap:40px;}
    .calArea {aspect-ratio: 318/516;}
    .applyList {grid-template-columns: 1fr; gap:12px}
    .applyList > a {padding:19px 24px;}
    .applyList > a span {margin-bottom:5px; font-size:13px;}
    .applyList > a strong {font-size:15px;}
}
@media(max-width:370px) {
    .statusPanel dl {width:100%}
}

/* 메인 3단 */
.section03 {position:relative; padding:66px 60px 145px;; background:url("../images/main/bg-main08.svg") no-repeat right 132px bottom}
.section03:before { position:absolute; right: 1px; top:39px; content:""; width:4px; height:calc(100% - 82px); background:#2567AF } 
.section03 .radiusRT {position:absolute; right: 0; top:-4px;} 
.section03 .radiusRB {position:absolute; right: 1px; bottom:0;} 
.section03 .tab .tabTit .right {display:flex; flex-direction:row-reverse; align-items:center; margin-left:auto;}
.section03 .tab .tabCont {margin-top:24px;}
.section03 .categoryList {margin-bottom:0;}
.section03 .categoryList .categorySwiper {overflow:hidden;}
.sprtPjList {display:flex; gap:30px;}
.sprtPjList li {flex:1; border:1px solid #ccc; border-radius:12px;}
.sprtPjList li a {display:block; padding:30px;}
.sprtPjList li a .badgeArea {margin-bottom:10px;}
.sprtPjList li a strong {display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow:hidden; text-overflow:ellipsis; margin-bottom:16px; height:60px; line-height:1.3; font-size:23px; color:var(--color-black); font-weight: 700;}
.sprtPjList li a p {display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow:hidden; text-overflow:ellipsis; height:38px; line-height:1.3; font-size:15px; color:var(--color-gray-70)}
.sprtPjList li a .txt {display:block; margin-top:22px; line-height:1.3; font-size:17px; color:#556E96; font-weight:500;}
.sprtPjList li a .date {display:block; margin-top:13px; padding-top:16px; border-top:1px solid #c6c6c6; text-align:right; line-height:1.3; font-size:15px; font-weight:500;}
@media(min-width:1161px) {
    .section03 {background-position: right 10% bottom; background-size:42%;}
}
@media(max-width: 1416px) {
    .section03 {padding:66px 40px 145px}
}
@media(max-width:1160px) {
    .section03 {margin-top:67px; padding:0 0 140px; background-position:right bottom;}
    .section03:before {top:initial; right:0; bottom:0; width:100%; height:4px;}
    .section03 .radiusRB,
    .section03 .radiusRT {display:none;}
    .section03 .tab .tabTit .right {flex-direction: column; align-items: flex-start; gap:24px 0; margin-left:0;}
    .sprtPjList {flex-wrap:wrap;}
    .sprtPjList > li:last-child {display:none;}
    .sprtPjList li a {padding:24px;}
}
@media(max-width:767px) {
    .section03 {margin-top:60px; padding:0 0 133px; background-image:url("../images/main/bg-main08-m.svg");}
    .sprtPjList li {flex:1 0 100%;}
    .sprtPjList li a strong {height:58px; font-size:19px;}
    .sprtPjList li a p {-webkit-line-clamp:3; height: 57px;}
}

/* 메인 4단 */
.section04 .inBox {display:flex;}
.section04 h2 {margin-bottom:24px; line-height:1;}
.promoNotiWrap {padding: 55px 54px 83px 60px; width:40%;}
.promoNotiWrap .tab .tabRow {justify-content: flex-end;}
.promoNotiWrap .tab .tabTit .right {display:flex; flex-direction: column; align-items: flex-end;}
.promoNotiWrap .tab .tabCont {margin-top:32px;}
.promoNotiWrap .categoryList {margin-right:-10px; margin-bottom:0;}
.promoNotiWrap .categoryList .categorySwiper {overflow:hidden; padding-right:0;}
.promoNotiWrap .btnBottom.borderT {margin-top:32px; padding-top:24px;}
.promotionNoticeList {display:flex; flex-direction: column; gap:16px;}
.promotionNoticeList li a {display:flex; gap:24px;}
.promotionNoticeList li .imgBox {flex:none; display:flex; justify-content: center; align-items: center; width:220px; height:124px;}
.promotionNoticeList li .imgBox img {width:100%; height:100%; object-fit: cover;}
.promotionNoticeList li .txtBox strong {display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow:hidden; text-overflow:ellipsis; margin-bottom:24px; height:54px; line-height:1.3; font-size:21px; font-weight:700;}
.promotionNoticeList li .txtBox span {display:block; line-height:1; font-size:15px; color:#888;}
.etcWrap {position:relative; flex:1; padding:117px 60px 127px 60px; width:60%}
.etcWrap:before {position:absolute; right: 44px; top:-4px; content:""; width:calc(100% - 88px); height:4px; background:#2567AF}
.etcWrap:after {position:absolute; left: 1px; top:39px; content:""; width:4px; height:calc(100% - 39px); background:#2567AF; z-index:-1;}
.etcWrap .radiusLT {position:absolute; left: 0; top:-4px;}
.etcBox01 > ul {display:flex; gap:22px;}
.etcBox01 > ul li {flex:1;}
.etcBox01 > ul li a {display:block; position:relative; padding:11%; background:no-repeat center/contain; aspect-ratio: 270/160;}
.etcBox01 > ul li a span {display:inline-block; padding-right:19px; line-height:1.3; font-size:21px; color:var(--color-black); font-weight:700; background:url("../images/main/ico-arrow02.svg") no-repeat right center}
.etcBox01 > ul li.box01 a {background-image:url("../images/main/img-card01.svg")}
.etcBox01 > ul li.box02 a {background-image:url("../images/main/img-card02.svg")}
.etcBox01 > ul li.box03 a {background-image:url("../images/main/img-card03.svg")}
.etcBox02 {margin-top:60px;}
.etcBox02 > ul {display:grid; grid-template-columns: repeat(4, 1fr); gap:20px 0;}
.etcSwiper {position:relative; overflow:hidden; padding-bottom:48px;}
.etcSwiper:after {position:absolute; top:0; right:0; bottom:0; content:""; z-index:2; width:2px; background:#fff;}
.etcSwiper .swiper-wrapper {flex-wrap:wrap; gap:20px 0}
.etcSwiper .swiper-slide {border-right:1px solid #ccc; width:calc(100%/4) !important; height:44px;}
.etcSwiper .swiper-slide:last-child {border-right:0;}
.etcSwiper .swiper-slide a {display:flex; justify-content:center; align-items:center; padding:0 20px; height:100%;}
.etcSwiper .swiper-button-next,
.etcSwiper .swiper-button-prev {display:none; top:initial; bottom:0; z-index:11; width:30px; height:30px; text-indent:-9999px; background:no-repeat center;}
.etcSwiper .swiper-button-next:before {content:""; width:14px; height:14px; background-image: url("../images/main/ico-slide-arrow02-right.svg");}
.etcSwiper .swiper-button-prev:before {content:""; width:14px; height:14px; background-image: url("../images/main/ico-slide-arrow02-left.svg");}
.etcSwiper .swiper-pagination {display:none; top:initial; bottom:0; height:30px;}
.etcSwiper .swiper-pagination-bullet {width:8px; height:8px; background:#ccc;}
.etcSwiper .swiper-pagination-bullet-active {background:#097C7C;}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {transform: scale(1);}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {transform: scale(1);}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {transform: scale(1);}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {transform: scale(1);}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet  {transform: scale(1);}
@media(min-width:1161px){
   .etcSwiper .swiper-wrapper {transform:translate3d(0px, 0, 0) !important}
}
@media(max-width:1160px) and (min-width: 768px) {
    .etcSwiper .swiper-wrapper {flex-wrap: nowrap;}
    .etcSwiper .swiper-slide {width:auto !important}
    .etcSwiper .swiper-button-next,
    .etcSwiper .swiper-button-prev {display:flex;}
    .etcSwiper .swiper-pagination {display:flex; align-items:center;}
}
@media(max-width:1416px) {
    .promoNotiWrap {padding:55px 34px 83px 40px; width:50%}
    .etcWrap {padding:117px 40px 127px 40px; width:50%}
    .etcBox01 > ul {flex-direction: column; gap:16px;}
    .etcSwiper .swiper-slide {width:calc(100%/2) !important;}
}
@media(max-width:1416px) and (min-width:768px){
    .etcBox01 > ul li a {padding:30px; aspect-ratio: 352/90; background-size: cover;}
    .etcBox01 > ul li.box01 a {background-image:url("../images/main/img-card01-t.svg")} 
    .etcBox01 > ul li.box02 a {background-image:url("../images/main/img-card02-t.svg")} 
    .etcBox01 > ul li.box03 a {background-image:url("../images/main/img-card03-t.svg")}
    .etcBox01 > ul li a:before {position: absolute; left: 0; top:0; content:""; width:1px; height:100%; background:#ccc;}
    .etcBox01 > ul li a:after {position: absolute; right: 0; top:0; content:""; width:1px; height:100%; background:#ccc;} 
}
@media(max-width:1160px) {
    .section04 {margin-top:60px;}
    .section04 .inBox { padding-bottom:80px;}
    .promoNotiWrap {padding:0 40px 0 0; width:60%;} 
    .promoNotiWrap .tab .tabRow {justify-content: flex-start;}
    .promoNotiWrap .tab .tabTit .right {align-items: flex-start;}
    .etcWrap {padding:0; width:40%;}
    .etcWrap:before,
    .etcWrap:after {content:none;}
    .etcWrap .radiusLT {display:none;}
}
@media(max-width:767px) {
    .section04 h2 {font-size:27px;}
    .section04 .inBox {flex-direction: column;}
    .promoNotiWrap {padding:0; width:100%;}
    .promotionNoticeList {gap:24px;}
    .promotionNoticeList li a {flex-direction: column; gap:10px;}
    .promotionNoticeList li .imgBox {width: 100%; height:auto; aspect-ratio: 328/184;}
    .promotionNoticeList li .txtBox strong {margin-bottom:8px; height:auto; text-align:center; font-size:19px;}
    .promotionNoticeList li .txtBox span {text-align: center;}
    .etcWrap {margin-top:40px; padding:0; width:100%;}
    .etcBox01 > ul {padding:0 30px;}
    .etcBox02 > ul {gap:10px 0; grid-template-columns:repeat(2, 1fr)}
    .etcBox02 > ul li {aspect-ratio: 164/44;}
    .etcBox02 > ul li a img {width:100%;}
    .etcSwiper .swiper-wrapper {gap:10px 0; transform:translate3d(0px, 0, 0)!important}
}